- page_title s_('FeatureFlags|Feature Flags')

#feature-flags-vue{ data: { endpoint: project_feature_flags_path(@project, format: :json),
  "project-id" => @project.id,
  "error-state-svg-path" => image_path('illustrations/feature_flag.svg'),
  "feature-flags-help-page-path" => help_page_path("operations/feature_flags"),
  "feature-flags-client-libraries-help-page-path" => help_page_path("operations/feature_flags", anchor: "choose-a-client-library"),
  "feature-flags-client-example-help-page-path" => help_page_path("operations/feature_flags", anchor: "golang-application-example"),
  "unleash-api-url" => (unleash_api_url(@project) if can?(current_user, :admin_feature_flag, @project)),
  "unleash-api-instance-id" => (unleash_api_instance_id(@project) if can?(current_user, :admin_feature_flag, @project)),
  "can-user-admin-feature-flag" => can?(current_user, :admin_feature_flag, @project),
  "new-feature-flag-path" => can?(current_user, :create_feature_flag, @project) ? new_project_feature_flag_path(@project): nil,
  "rotate-instance-id-path" => can?(current_user, :admin_feature_flags_client, @project) ? reset_token_project_feature_flags_client_path(@project, format: :json) : nil,
  "user-lists-api-doc-path" => help_page_path("api/feature_flag_user_lists.md") } }
